<p>data: {{data.addressHeader}}</p>
<div class="addr-element">
  <span class="addr-label">
  <label>Address Type:</label>
  </span>
  <span class="addr-value">
  <label>{{address.addressType}}</label>
  </span>
</div>

<div class="addr-element">
  <span class="addr-label">
    <label>Street1:</label>
  </span>
  <span class="addr-value">
    <label>{{address.street1}}</label>
  </span>
</div>

<div class="addr-element">
   <span class="addr-label">
  <label>Street2:</label>
  </span>
  <span class="addr-value">
  <label>{{address.street2}}</label>
  </span>
</div>

<div class="addr-element">
   <span class="addr-label">
  <label>City:</label>
  </span>
  <span class="addr-value">
  <label>{{address.city}}</label>
  </span>
</div>

<div class="addr-element">
   <span class="addr-label">
  <label>Post Code:</label>
  </span>
  <span class="addr-value">
  <label>{{address.postcode}}</label>
  </span>
</div>

<div class="addr-element">
   <span class="addr-label">
  <label>State:</label>
  </span>
  <span class="addr-value">
  <label>{{address.state}}</label>
  </span>
</div>

<div class="addr-element">
   <span class="addr-label">
  <label>Country:</label>
  </span>
  <span class="addr-value">
  <label>{{address.country}}</label>
  </span>
</div>